@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.App {
  height: 100vh;
  padding-top: 10px;
  /* background-color: #1b1b32; */
  background-color: #efefef;
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contenedor-calculadora {
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: #99c9ff;
  border-radius: 20px;
  border: 5px solid white;
}

@media (max-width: 480px) {
  .contenedor-calculadora {
    width: 85%;
  }
}

.fila {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}